/* Debugging */
body {
	background-color: lightgray;
}

div {
	border: 1px solid chocolate;
}

/* General */
html {
    box-sizing: border-box
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased:;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.content {
    padding: 0px 15px;
}

.content > img {
    height: 70px;
    width: 26px;
}

.links {
    float: right;
    margin-top: 27px;
}

.links > li {
	display: inline-block;
	margin-left: 15px;
}